<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<table border="1">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Size</th>
    <th>Expiration Date</th>
    <th>Price</th>
    <th>IsReserved</th>
    <th>Picture</th>
    <th>Pharmacy Name</th>
    <th>Pharmacy Address</th>
    <th>Pharmacy Picture</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="product : ${products}">
    <td th:text="${product.medicine.name}"></td>
    <td th:text="${product.medicine.description}"></td>
    <td th:text="${product.medicine.size}"></td>
    <td th:text="${product.expirationDate != null ? product.expirationDate : 'N/A'}"></td>
    <td th:text="${product.price}"></td>
    <td th:text="${product.isReserved}"></td>
    <td th:if="${product.medicine.picture != null}">
      <img th:src="@{'/pictures/' + ${product.medicine.picture.id}}" alt="Medicine Picture" width="100" height="100"/>
    </td>
    <td th:if="${product.medicine.picture == null}">
      No medicine picture
    </td>
    <td th:text="${product.medicine.pharmacy.name}"></td>
    <td th:text="${product.medicine.pharmacy.address}"></td>
    <td th:if="${product.medicine.pharmacy.picture != null}">
      <img th:src="@{'/pictures/' + ${product.medicine.pharmacy.picture.id}}" alt="Pharmacy Picture" width="100" height="100"/>
    </td>
    <td th:if="${product.medicine.pharmacy.picture == null}">
      No medicine picture
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
