<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<header>
  <nav>
    <ul>
      <li>
        <div class="container">
          <a th:href="@{/reservation/showCart}">Show Cart</a>
        </div>
      </li>
      <li>
        <div class="container" th:if="${isUser}">
          <a th:href="@{/userProfile}">Manage profile</a>
        </div>
      </li>
      <li>
        <div class="container" th:if="${!isUser}">
          <a href="/oauth2/authorization/secureauthn?idp=users">Login</a>
        </div>
      </li>
    </ul>
  </nav>
</header>

<form th:action="@{/}" method="get">
  <input type="text" name="searchTerm" placeholder="Search products..." th:value="${searchTerm}" />
  <button type="submit">Search</button>
</form>


<form th:action="@{/}" method="get">
  <input type="hidden" name="searchTerm" th:value="${param.searchTerm}" />
  <input type="hidden" name="sortBy" value="price" />
  <button type="submit">Sort by price</button>
</form>

<form id="locationForm" th:action="@{/}" method="get">
  <input type="hidden" id="latitude" name="latitude" />
  <input type="hidden" id="longitude" name="longitude" />
  <input type="hidden" name="sortBy" value="location" />
  <input type="hidden" name="searchTerm" th:value="${param.searchTerm}" />
  <button type="button" onclick="getUserLocation()">Sort by Location</button>
</form>

<table border="1">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Size</th>
    <th>Expiration Date</th>
    <th>Price</th>
    <th>Medicine Picture</th>
    <th>Pharmacy Name</th>
    <th>Pharmacy Address</th>
    <th>Pharmacy Picture</th>
    <th th:if="${!areDistancesEmpty}">Distance (km)</th>
    <th>Add to Cart</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="product : ${products}" th:if="${!product.isReserved}">
    <td th:text="${product.medicine.name}"></td>
    <td th:text="${product.medicine.description}"></td>
    <td th:text="${product.medicine.size}"></td>
    <td th:text="${product.expirationDate != null ? product.expirationDate : 'N/A'}"></td>
    <td>
      <s th:text="${product.basePrice} + '$'"></s>
      <span th:text="${product.price} + '$'"></span>
    </td>
    <td>
      <div th:if="${product.medicine.picture != null}">
        <img th:src="@{'/pictures/' + ${product.medicine.picture.id}}" alt="Medicine Picture" width="100" height="100"/>
      </div>
      <div th:if="${product.medicine.picture == null}">
        No medicine picture
      </div>
    </td>
    <td>
      <a th:href="@{/viewPharmacy(pharmacyId=${product.medicine.pharmacy.id})}" th:text="${product.medicine.pharmacy.name}"></a>
    </td>
    <td th:text="${product.medicine.pharmacy.address}"></td>
    <td>
      <div th:if="${product.medicine.pharmacy.picture != null}">
        <img th:src="@{'/pictures/' + ${product.medicine.pharmacy.picture.id}}" alt="Pharmacy Picture" width="100" height="100"/>
      </div>
      <div th:if="${product.medicine.pharmacy.picture == null}">
        No pharmacy picture
      </div>
    </td>
    <td th:if="${!areDistancesEmpty}">
      <span th:text="${distances[product.medicine.pharmacy.id]} + ' km'"></span>
    </td>
    <td>
      <form th:action="@{/reservation/addToCart}" method="post">
        <input type="hidden" th:name="productId" th:value="${product.id}" />
        <button type="submit">Add to Cart</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>

<script>
  function getUserLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(position => {
        document.getElementById("latitude").value = position.coords.latitude;
        document.getElementById("longitude").value = position.coords.longitude;
        document.getElementById("locationForm").submit();
      });
    } else {
      console.log("Geolocation is not supported by this browser.");
    }
  }
</script>

</body>
</html>
