<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edit Product</title>
</head>
<body>
<h1>Edit Product</h1>

<form th:action="@{/pharmacy/edit-product/{productId}(productId=${product.id})}" method="post">

  <label for="medicineName">Medicine:</label>
  <input type="text" id="medicineName" name="medicineName" th:value="${product.medicine.name}" readonly/><br/>

  <label for="medicineDescription">Medicine Description:</label>
  <input type="text" id="medicineDescription" name="medicineDescription" th:value="${product.medicine.description}" readonly/><br/>

  <label for="medicineSize">Medicine Size:</label>
  <input type="text" id="medicineSize" name="medicineSize" th:value="${product.medicine.size}" readonly/><br/>

  <label for="expirationDate">Expiration Date:</label>
  <input type="date" id="expirationDate" name="expirationDate" th:value="${product.expirationDate}"/><br/>

  <input type="hidden" name="isReserved" value="false"/>
  <label for="isReserved">Is Reserved:</label>
  <input type="checkbox" id="isReserved" name="isReserved" th:checked="${product.isReserved}"/><br/>

  <label for="basePrice">Base Price:</label>
  <input type="text" id="basePrice" name="basePrice" th:value="${product.basePrice}"/><br/>

  <label for="price">Price:</label>
  <input type="text" id="price" name="price" th:value="${product.price}"/><br/>

  <button type="submit">Update Product</button>
</form>
</body>
</html>
