<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Medicine List</title>
    <script type="text/javascript">
        function confirmDeletion(medicineId, productCount) {
            const message = productCount > 0
                ? `Deleting this medicine will affect ${productCount} product(s). Are you sure you want to proceed?`
                : "Are you sure you want to delete this medicine?";
            return confirm(message);
        }
    </script>
</head>
<body>
<h1>Medicine List</h1>

<table border="1">
    <thead>
    <tr>
        <th>Medicine Name</th>
        <th>Description</th>
        <th>Size</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="medicine : ${medicines}">
        <td th:text="${medicine.name}"></td>
        <td th:text="${medicine.description}"></td>
        <td th:text="${medicine.size}"></td>
        <td>
            <a th:href="@{/pharmacy/editMedicine/{medicineId}(medicineId=${medicine.id})}">
                Edit
            </a>
            <form th:action="@{/pharmacy/deleteMedicine(medicineId=${medicine.id})}" method="post" style="display:inline;"
                  th:onsubmit="return confirmDeletion('${medicine.id}', [[${numOfProducts[medicine.id]}]])">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
