<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pharmacy Products</title>
    <style>
        .pending-reservations {
            margin-left: 10px;
            font-weight: bold;
        }
        .pending-reservations.red {
            color: red;
        }
    </style>
</head>
<body>

<div class="container" th:if="${!isPharmacy}">
    <p>Please <a href="/oauth2/authorization/secureauthn?idp=pharmacies">login</a> to see pharmacy panel</p>
</div>

<div class="container" th:if="${isPharmacy}">

    <h1 th:text="${pharmacy.name}">Pharmacy Name</h1>
    <p th:text="${pharmacy.address}">Pharmacy Address</p>
    <p th:text="${pharmacy.phoneNumber}">Phone: </p>
    <img th:src="@{'/pictures/' + ${pharmacy.picture.id}}" alt="Pharmacy Picture" width="200" height="200"/>
    <a th:href="@{/pharmacy/listMedicines(pharmacyId=${pharmacy.id})}">
        <button>Modify Medicines</button>
    </a>
    <a th:href="@{/pharmacy/edit(pharmacyId=${pharmacy.id})}">
        <button>Modify Pharmacy</button>
    </a>

    <div style="display: inline-block; margin-left: 10px;">
        <a th:href="@{/pharmacy/listReservations(pharmacyId=${pharmacy.id})}">
            <button>Show Reservations</button>
        </a>
        <span th:text="${numOfPendingReservations}"
              th:classappend="${numOfPendingReservations > 0} ? 'pending-reservations red' : 'pending-reservations'">
        </span>
    </div>

    <h2>Products</h2>
    <a th:href="@{/pharmacy/addProduct}">Add Product</a>
    <table border="1">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Size</th>
            <th>Expiration Date</th>
            <th>Price</th>
            <th>IsReserved</th>
            <th>Picture</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.medicine.name}"
                class="pending-reservations"
                th:classappend="${product.expirationDate != null and product.expirationDate.isBefore(todaysDate) ? ' red' : ''}">
            </td>
            <td th:text="${product.medicine.description}"></td>
            <td th:text="${product.medicine.size}"></td>
            <td th:text="${product.expirationDate != null ? product.expirationDate : 'N/A'}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.isReserved}"></td>
            <td th:if="${product.medicine.picture != null}">
                <img th:src="@{'/pictures/' + ${product.medicine.picture.id}}" alt="Medicine Picture" width="100"
                     height="100"/>
            </td>
            <td th:if="${product.medicine.picture == null}">
                No medicine picture
            </td>
            <td>
                <a th:href="@{/pharmacy/editProduct/{productId}(productId=${product.id})}">Edit</a>
                <form th:action="@{/pharmacy/deleteProduct/{productId}(productId=${product.id})}" method="post"
                      onsubmit="return confirm('Are you sure you want to delete this product?');">
                    <button type="submit">Delete Product</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
